/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
.jumbotron {
    background: #C33764;
    background: -webkit-linear-gradient(to left, #C33764 , #1D2671); 
    background: linear-gradient(to left, #C33764 , #1D2671); 
    color: white;
}

.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	color: white;
	font-weight: 400;
	margin-top: 10px;
}