/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
}
.jumbotron {
    background: #C33764;
    background: -webkit-linear-gradient(to left, #C33764 , #1D2671); 
    background: linear-gradient(to left, #C33764 , #1D2671); 
    color: white;
}
